<collection xmlns="http://exist-db.org/collection-config/1.0">
    <index xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <lucene>
            <analyzer class="org.apache.lucene.analysis.standard.StandardAnalyzer"/>
            <text qname="trip"/>
            <text qname="name"/>
            <text qname="role"/>
            <text qname="country"/>
            <text qname="locale"/>
            <text qname="remarks"/>
        </lucene>
        <range>
            <create match="//trip">
                <field name="trip-who" match="@who" type="xs:string"/>
            </create>
            <create qname="country" type="xs:string"/>
            <create match="//president">
                <field name="president-id" match="id" type="xs:string"/>
            </create>
        </range>
    </index>

    <!-- Replication -->
    <triggers>
        <trigger class="org.exist.jms.replication.publish.ReplicationTrigger">

            <parameter name="java.naming.factory.initial" value="org.apache.activemq.jndi.ActiveMQInitialContextFactory"/>

            <parameter name="java.naming.provider.url" value="@provider-url@"/>

            <parameter name="connection-factory" value="ConnectionFactory"/>

            <parameter name="destination" value="@destination@"/>
        </trigger>
    </triggers>
</collection>
